<% content_for :head do %>
	<%= javascript_include_tag "profile" %>
<% end %>

<div class="hero-profile">
	<div class="hero-inner">
    <a href="" class="hero-avatar"><img src="<%= @user.profile_image_url %>" alt="" /></a>
		<div class="hero-copy">
			<h1><%= @user.display_name %></h1>
			<% if @user.bio %>
				<p class="bio"><%= @user.bio %></p>
			<% end %>
      <div class="stats">
        <ul>
          <li><%= @albums.count %><span>Albums</span></li>
          <li><%= @user.images.count %><span>Images</span></li>
        </ul>
      </div>
		</div>
	</div>
</div>

<div id="albums" data-user-id="<%= @user.id %>"></div>
