<h1><%= @album.user.display_name %></h1>
<p>#<%= @album.tag %></p>
<p><%= @album.image_count %> photos.</p>
<%= link_to 'back', albums_path %>
<% if current_user == @album.user %>
  <%= link_to 'delete album', @album, method: :delete %>
<% end %>

<% @images.each do |photo| %>
  <div>
    <%= image_tag photo[:image].url, size: "#{photo[:image].height}x#{photo[:image].width}" %>
  </div>
<% end %>
