<header>
  <img class="avatar" src="<%= @user.profile_image_url %>" alt="" />
  <div class="mini-profile">
    <p class="user-fullname"><%= @user.display_name %></p>
    <p class="bio">UI designer at Dropbox</p>
    <p class="album-tag">#<%= @album.tag.name %></p>
    <p><%= @album.image_count %> photos.</p>
  </div>
  <% if current_user == @user %>
    <%= link_to 'delete album', @album, method: :delete %>
  <% end %>
</header>

<% @images.each do |image| %>

  <div class="image">
    <%= image_tag image.url %>
    <p class="image-details"><%= image.caption %></p>
  </div>

<% end %>
