<header>
  <img class="avatar" src="<%= @content[:user][:profile_picture] %>" alt="" />
  <div class="mini-profile">
    <p class="user-fullname"><%= @album.user.display_name %></p>
    <p class="bio">UI designer at Dropbox</p>
    <p class="album-tag">#<%= @album.tag %></p>
    <p><%= @album.image_count %> photos.</p>
  </div>
  <% if current_user == @album.user %>
    <%= link_to 'delete album', @album, method: :delete %>
  <% end %>
</header>

<% @content[:images].each do |image| %>

  <div class="image">
    <%= image_tag image[:image].url, size: "#{image[:image].height}x#{image[:image].width}" %>
    <p class="image-details"><%= image[:caption] %></p>
  </div>

<% end %>
