<% content_for :head do %>
  <%= javascript_include_tag 'images' %>
<% end %>

<header class="album-header">
  <img class="avatar" src="<%= @owner.profile_image_url %>" alt="" />
  <div class="mini-profile">
    <p class="user-fullname"><%= @owner.display_name %></p>
    <p class="bio"><%= @owner.bio %></p>
    <p class="album-tag"><%= @album.tag_list %></p>
    <p><%= @album.image_count %> photos.</p>
  </div>
  <% if current_user == @owner %>
    <%= link_to 'delete album', @album, method: :delete %>
  <% end %>
</header>

<div id="images" data-album-id="<%= @album.id %>"></div>
