<!DOCTYPE html>
<html>
<head>
  <title>#folio</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </nav>
    <div class="navigation-tools">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>

  <nav>
    <a href="#"><p class="logo">#folio</p></a>
    <% if logged_in? %>
    <%= render 'form' %>
    <ul>
      <li>
        <%= image_tag current_user.profile_image_url, class: "user-avatar" %>
        <%= current_user.display_name %>
        <ul>
          <li>
            <%= link_to 'My albums', current_user %>
          </li>
          <li>
            <%= link_to 'Sign out', logout_path, method: :delete %>
          </li>
        </ul>
      </li>
    </ul>
    <% else %>
      <p><%= link_to 'log in', login_path %></p>
      <%= link_to 'Albums', albums_path %>
    <% end %>
  </nav>

  <main class="container">

  <%= yield %>

  </main>

</body>
</html>
