<!DOCTYPE html>
<html>
<head>
  <title>#folio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <p>logged in as <%= current_user.display_name %></p>
  <%= image_tag current_user.profile_image_url %>
  <%= link_to 'log out', logout_path, method: :delete %>
  <%= link_to 'view my albums', current_user %>
<% else %>
  <p><%= link_to 'log in', login_path %></p>
<% end %>

<%= yield %>

</body>
</html>
